* {
    font-family: Montserrat;
    font-style: normal;
    /* padding: 0;
    margin: 0; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 80px;
    height: 30px;
    padding: 10px 0;

    top: 0;
    left: 0;
    position: sticky;
    background: white;
    z-index: 1;
}


header .logo {
    width: 75px;
    height: 25px;
}

header .but {
    display: none;
}

main {
    margin: 130px 250px 0px 250px;
    position: relative;
}

.arrow {
    position: absolute;
    height: 52px;
    width: 69px;
    top: 10px;
    left: -170px;
}

.leftArrow, .rightArrow {
    position: absolute;
    height: 52px;
    width: 30px;
}

.leftArrow {
    left: -13em;
}

.rightArrow {
    left: -9em;
}

h1, h2, h3, a {
    color: #EC3332;
    letter-spacing: 0.02em;
}

h1 {
    font-weight: bold;
    font-size: 58px;
    line-height: 130%;
    /* or 75px */
    text-transform: uppercase;

    margin-bottom: 40px;
}

p {
    font-weight: normal;
    line-height: 130%;
    /* or 26px */
    color: #000000;

    margin-bottom: 10px;
}

ol {
    list-style: none;
    counter-reset: count;
}

ol li {
    counter-increment: count;
    position: relative;
}

ol li::before {
    content: counter(count) ' ';
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */

    letter-spacing: 0.02em;
    color: #EC3332;

    display: absolute;
    top: 0;
    left: 0;
    min-width: 40px;
    display: inline-block; 
    vertical-align: middle;
}

ol li::after {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    content: counter(count) ' ';
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;

    top: 2px;
    left: 2px;
    
    color: transparent;
   -webkit-text-stroke: 1px #EC3332; 
   z-index: -1;
}

p, li {
    font-size: 20px;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */

}

p + .photo {
    margin-top: 140px;
}

.photo + h2 {
    margin-top: 60px;
}

.location {
    margin-bottom: 60px;
}

.pin  {
    display: none;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */
}

p + ol {
    margin-top: 39px;
}

ol + p {
    margin-top: 44px;
}

li {
    margin-top: 7px;
}

ul > li + li {
    margin-top: 15px;
}

p + ul {
    margin-top: 30px;
}

a {
    text-decoration: none;
}

p + h2 {
    margin-top: 80px;
}

p + h3 {
    margin-top: 80px;
}

blockquote {

    display: flex;
    align-items: center;
    border: solid;
    border-width: 2px 0;

    margin: 140px 0;
    padding: 65px 0;
}

blockquote p {

    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 42px;
    line-height: 100%;
    /* identical to box height, or 42px */

    letter-spacing: 0.02em;

    color: #000000;

    margin-top: 0;

    
}

blockquote .quotes {

    height: 51px;
    width: 61px;
    margin-right: 43px;
}

.photo {
    width: 734px;
    height: 290px;

    box-shadow: 5px 5px #EC3332;
}

ul + .location {
    margin-top: 140px;
}

.address {
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 140px;
}

ul {
    list-style: none;
}

ul li {
    /* font-size: 16px; */
}

ul li::before {
    content: '';
    display: inline-block;
    height: 9px;
    width: 9px;
    background-color: red;
    border-radius: 100%;
    margin-right: 30px;
    vertical-align: middle; 
}

li span {
    color: black;
    display: inline-block;
    vertical-align: middle;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 2% 80px 2%;
    padding-top: 40px;
    border: solid;
    border-width: 2px 0 0 0;
}

.links a {
    margin-left: 45px;
    color: black;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */

    letter-spacing: 0.02em;
    font-weight: bold;
}

footer .feedback a {
    margin-right: 45px;
}

.catalog {
    display: grid;
    gap: 60px 3%;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    margin-left: 250px;
    margin-bottom: 100px;
    margin-right: 2%;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2%;
}

.list img, .list span {
    margin-left: 50px;
}

@media (max-width: 767px) {

    body {
        width: 100%;
    }

    header {
        max-width: 100%;
        margin: 3em 2em 3.5em 2em;

        position: static;
        padding: 0;
    }

    header nav {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        background: #EC3332;
    }
    
    header nav.active {
        display: block;
    }

    header .but {
        display: block;
        height: 26px;
        width: 24px;
    }

    header .logo {
        width: 60px;
        height: 25px;
    }

    main {
        max-width: 100%;
        margin: 25px 20px 40px 20px;
    }

    /* .arrow {
        display: none;
    } */

    main .arrow {
        display: block;
        position: static;
        height: 24px;
        width: 32px;
    }

    .catalog {
        max-width: 100%;
        grid-row-gap: 35px;
        grid-template-columns: auto; 
        margin: 25px 20px 40px 20px; 
        justify-items: center;
    }

    .list {
        max-width: 100%;
        justify-content: center;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    p + h2 {
        margin-top: 50px;
    }

    p + h3 {
        margin-top: 36px;
    }

    blockquote {
        margin: 60px 0;
        padding: 45px 0;
    }

    blockquote p {
        font-size: 24px;
        margin: 0;
    }

    blockquote .quotes {
        margin-right: 20px;
        width: 30px;
        height: 25px;
    }

    li {
        font-size: 14px;
    }

    ol li::after, ol li::before {
        font-size: 23px;
    }

    ul + .location {
        margin-top: 50px;
    }

    .location {
        margin-bottom: 25px;
    }

    .photo {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .pin {
        display: inline-block;
        width: 11px;
        height: 15px;
        margin-right: 15px;
    }

    .address {
        display: inline-block;
        margin: 30px 0;
    }

    footer {
        max-width: 100%;
        margin: 60px 20px 40px 20px;
        padding: 0;
        flex-direction: column;
    }

    footer .feedback a, footer .links a {
        margin: 0;
    }
    footer .feedback {

        font-size: 18px;
        font-weight: bold;
        margin: 25px 100px 25px 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    footer .links a {
        margin-bottom: 10px;
        font-size: 14px;
    }
}


